<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam Scores</title>
    <link rel="stylesheet" href="/static/land.css">
</head>
<body>
    <script src="https://cdn.tailwindcss.com"></script>
    <nav>
        <div class="flex flex-row justify-start font-bold text-xl font-mullish text-white h-16  pr-2 navcl pl-4 pt-[1rem] space-x-3  rounded-lg">
            <div class="hover2"><a href="/"><u>Home</u></a></div>
            <div class="hover2"><u>SignUp<u></div>
            <div class="hover2"><a href="/score/"><u>Leaderboard</u></a></div>
        </div>
    </nav>
        <form action="/score/ML/" method="POST">
            <button >ML</button><br>
        </form>

        <form action="/score/Web/" method="POST">
            <button>Web</button><br>
        </form>

        <form action="/score/Android/" method="POST">
            <button>Android</button><br>
        </form>
            
        <form action="/score/Cloud/" method="POST">
            <button>Cloud</button>
        </form>
    


</body>
</html>